[Unit]
Description=USB-OTG DHCP server
After=remote-fs.target
After=network-online.target
After=nss-lookup.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/usr/lib/pt-otg-eth/pt-otg-dhcp-server start
ExecStop=/usr/lib/pt-otg-eth/pt-otg-dhcp-server stop

[Install]
WantedBy=multi-user.target
