[Unit]
Description=pi-top [4] USB Ethernet Gadget Configuration
Documentation=https://knowledgebase.pi-top.com/knowledge
After=remote-fs.target
After=network-online.target
After=nss-lookup.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/usr/lib/pt-usb-eth-gadget/pt-usb-eth-gadget-setup start
ExecStop=/usr/lib/pt-usb-eth-gadget/pt-usb-eth-gadget-setup stop

[Install]
WantedBy=multi-user.target
